include pytest.ini
include Doxyfile
include dev-requirements.txt
recursive-include binaries *
recursive-include elf_files *
recursive-include src *.ld *.txt *.c *.bat *.py
recursive-include test *.py *.sh
global-exclude .DS_Store
