# Copyright (c) 2021-2022 Chris Reed

# pyocd workflow to fill in for the skipped 'basic test' workflow for docs updates. Without this,
# the required 'basic test' workflow will not have run and therefore docs PRs won't be mergeable.
#
# See this documentation for more about the need for this workaround: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks

name: basic test

on:
  pull_request:
    paths:
      - 'docs/**'

jobs:
  build:
    # Note: this must have the same runs-on and strategy as the actual 'basic test' workflow, or
    # the workflow names will not match.
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - "3.7"
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
    steps:
      - run: 'echo "Skipped due to path filter."'
